* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*adaptar no cllr os modulos*/
@media (max-width: 768px) {
  #menu_container {
    flex-direction: column;
    gap: 20px;
  }
}

#head_criarCliente {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  margin-top: 10px;
}

#voltar {
  position: absolute;
  left: 0;
  margin-left: 10px;
  margin-top: 10px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  gap: 4px;
}

#cadastro_container {
  display: flex;
  margin: auto;
  padding: 1%;
  width: 700px;
  height: 500px;
  flex-direction: column;
  background-color: #ffff;
  gap: 10px;
  border: 2px outset gray;
  border-radius: 10px;
}

#criar {
  background-color: aqua;
  border: 2px outset gray;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 18px;
  width: 150px;
  width: 100px;
}

.alinhar_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#cod_barras {
  width: 150px;
  font-size: 18px;
  padding: 1%;
  border: 2px outset gray;
}

#fornecedor {
  width: 250px;
  font-size: 18px;
  padding: 1%;
  border: 2px outset gray;
}

#nome_produto {
  width: 250px;
  font-size: 18px;
  padding: 1%;
  border: 2px outset gray;
}

#descricao {
  width: 680px;
  font-size: 18px;
  padding: 1%;
  border: 2px outset gray;
}

#preco,
#quant {
  width: 100px;
  font-size: 18px;
  padding: 1%;
  border: 2px outset gray;
}

@media (max-width: 768px) {
  #cadastro_container {
    display: flex;
    margin: auto;
    padding: 1%;
    width: 350px;
    height: 500px;
    flex-direction: column;
    background-color: #ffff;
    gap: 10px;
    border: 2px outset gray;
    border-radius: 10px;
  }


  #descricao {
    width: 330px;
    font-size: 18px;
    padding: 1%;
    border: 2px outset gray;
  }
}
